<%-include('./layouts/header.ejs')  %> 
<%-include('./layouts/menu.ejs')  %> 

<div class="container mt-5">
    <div class="row">
        
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach( (element,index) => { %>
                        <tr>
                            <td scope="row"><%= index + 1%></td>
                            <td><%= element.ten_danh_muc %> </td>
                            <td>
                                <a href="" class="btn btn-success">Update</a>
                                <a href="" class="btn btn-danger">DELETE</a>
                            </td>
                        </tr>
                    <% }) %>
                   
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<%-include('./layouts/footer.ejs')  %> 